body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

/* Aqui vai as configurações da barra do topo: */

.separador-vertical {
    width: 1px;
    height: 22px;
    background: #DBDBDB;
}

.barra-topo {
    background-color: #FFFFFF;
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    z-index: 1;
}

.caixa-barra-topo {
    width: 100%;
    height: 54px;
}

.logo-instagram {
    margin-right: 12px;
}

.logo img {
    width: 103px;
    height: 29px;
    margin-top: 5px;
    margin-left: 10px;
}
.elementos-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.barra-pesquisa {
    border: 1px solid #DBDBDB;
    width: 215px;
    height: 28px;
    font-size: 12px;
    font-weight: 400;
    color: #979797;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones {
    color: #000000;
    size: 17px;
    margin-right: 11px;
}

a {
    text-decoration: none;
}

/* Aqui vai as configurações das publicações: */

.publicacoes {
    width: 614px;
}

.conteudo {
    display: flex;
    justify-content: center;
    margin-top: 34px;
    margin-right: 300px;
}

.stories {
    height: 118px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    overflow: hidden;
}

video {
    width: 614px;
    height: 614px;
}

.stories-individual {
    position: relative;
    display: flex;
    text-align: center;
    top: 27px;
    margin-left: 15.05px;
    width: 67px;
}

.stories-individual-background img {
    position: relative;
    width: 66px;
    height: 66px;
}

.stories-individual-imagem img {
    position: relative;
    width: 56.5px;
    height: 56.5px;
    border-radius: 50%;
    left: 0;
    bottom: 63.4px;
}

.stories-individual p {
    position: absolute;
    bottom: 45px;
    right: 0;
    left: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.setinha {
    position: relative;
    size: 26px;
    right: 64px;
    background-color: #E5E5E5;
    border-radius: 50%;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.fotos-individual {
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    border: 1px solid #DBDBDB;
    margin-bottom: 60px;
}

.fotos-individual img {
    width: 614px;
    height: 614px;
}

.fotos {
    margin-bottom: 60px;
}

.fotos-individual-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}


.fotos-individual-cabecalho img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.logo-cabecalho {
    display: flex;
    align-items: center;
    margin-left: 17px;
    margin-bottom: 13px;
    margin-top: 13px;
}

.logo-cabecalho p {
    margin-left: 15px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
}

.icone-cabecalho {
    margin-right: 17px;
}

.icones-rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.curtidas-rodape img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 13.44px;
    margin-left: 17px;
    margin-bottom: 17px;
}

.foto-comentario img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 17px;
    margin-right: 5px;
    margin-top:10px;
    margin-bottom: 10px;
}

.foto-comentario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nome-usuario {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 16.41px;
    margin-right: 5px;
}

.comentario-feito {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 16.41px;
    margin-left: 5px;
}

.curtidas-rodape {
    display: flex;
}

.curtidas-rodape p {
    position: relative;
    top: 17px;
    left: 5px;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 16.41px;
}

.curtidas-rodape strong {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 16.41px;
}

.icones-esquerda {
    margin-left: 17.77px;
    margin-top: 13.44px;
}

.icones-direita {
    margin-right: 17px;
}


.comentarios {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.caixa-comentario-feito {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.icone-coracao-comentario {
    margin-right: 9px;
}

.caixa-comentario {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    height: 20px;
    border: none;
}

.texto-comentario {
    color: rgba(31, 31, 31, 0.5);
    transition: color 300ms;
}

.botao-comentario {
    background-color: #FFFFFF;
    color: #B2DFFC;
    transition: color 300ms;
}

.botao-comentario:hover {
    color: #0095F6;
    cursor: pointer;
}

.texto-comentario:hover {
    color: #000000;
}

/* Configurações do sidebar: */

.sidebar {
    width: 293px;
    background-color: #E5E5E5;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.caixa-sidebar {
    width: auto;
    height: auto;
    margin-left: 2px;
}

.recomendado img {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin-left: 29px;
    margin-top: 23px;
}

.recomendado {
    display: flex;
    align-items: center;
}


.texto-recomendado {
    margin-top: 23px;
    margin-left: 17px;
}

.texto-recomendado p {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 16.41px;
}

.texto-recomendado strong {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 16.41px;
}

.sugestoes-texto {
    display: flex;
    align-items: center;
    margin-left: 29px;
    margin-top: 22px;
}

.sugestoes-texto p {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    color: #8E8E8E; 
}

.sugestoes-texto strong {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    position: absolute;
    right: -30px;
}

.sugestoes-perfis img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-bottom: 16px;
}

.sugestoes-perfis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 17px;
    left: 29px;
}

.texto-perfis-sugestoes {
    position: absolute;
    left:40px;
    top: 0;
}

.texto-perfis-sugestoes p {
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
color: #8E8E8E;
}

.texto-perfis-sugestoes strong {
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
color: #262626;
position: relative;
bottom: 3px;
}

.texto-seguir strong {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    color: #139EF2;
}

.texto-seguir {
margin-right: 0;
}

.trademark {
    margin-left: 29px;
    margin-top: 33px;
}

.trademark-primeiro {
    margin-bottom: 18px;
}

.trademark p {
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
color: #C7C7C7;
}

/*Barra bottom: */

.caixa-barra-bottom {
    display: none;
}

/* Aqui começa o media query */

@media (max-width: 935px) {
    .sidebar {
        display: none;
    }

    .conteudo {
    margin-right: auto;
    margin-left: auto;
    }

.caixa-sidebar {
    display: none;
}

    .barra-topo {
        justify-content: space-between;
    }

    .elementos-logo {
        margin-left: 15px;
    }

    .caixa-barra-bottom {
        display: none;
    }
    
}

@media (max-width: 614px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .caixa-barra-bottom {
    width: 100%;
    height: 54px;
    display: flex;
    background-color: #FFFFFF;
    border-top: 1px solid #DBDBDB;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    }
    

    .elementos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .fotos-individual img {
        width: 100vw;
    }

    video {
        width: 100vw;
    }

    .barra-topo {
        margin-bottom: 0;
        margin-right: 0;
        width: 100%; 
    }

    .publicacoes {
        width: 100%;
    }

    .setinha {
        display: none;
    }

    .stories {
        margin-bottom: 0;
        margin-top: 0;
        background-color: #E5E5E5;
        width: 100%;
    }

    .fotos {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    .caixa-sidebar {
        display: none;
    }

    .elementos-logo {
        margin-left: 15px;
    }

    .logo img { 
    width: 100px;
    margin-left: 28vw;
    }

    .separador-vertical {
        display: none;
    }

    .barra-pesquisa {
        display: none;
    }

    .icone-bussola {
        display: none;
    }

    .icone-coracao {
        display: none;
    }

    .icone-pessoa{
        display: none;
    }

    .conteudo {
        margin-top: 0;
    }

    .icones {
        font-size: 19px;
    }

    .foto-comentario img {
        height: 20px;
        width: 20px;
    }

    .curtidas-rodape img {
        width: 20px;
        height: 20px;
    }

    .fotos-individual-cabecalho img {
        width: 32px;
        height: 32px;
    }
}